<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- our custom section to store the readers settings-->
    <section name="speedwayclientwpf.readers" type="SpeedwayClientWpf.ReadersConfigurationSection, SpeedwayClientWpf" requirePermission="false" />
  </configSections>
  <speedwayclientwpf.readers>
    <reader name="Reader 1" ipaddress="172.16.5.25" port="14150" />
    <reader name="Reader 2" ipaddress="172.16.5.25" port="14150" />
    <reader name="Reader 3" ipaddress="172.16.5.25" port="14150" />
    <reader name="Reader 4" ipaddress="172.16.5.25" port="14150" />
  </speedwayclientwpf.readers>
  <appSettings>
    <!-- a folder to save output files -->
    <add key="FolderPath" value="C:\" />
    <!-- some string to filter tags -->
    <add key="TagFilter" value="" />
    <!-- time to check if tag was seen before, seconds -->
    <add key="RereadTime" value="20" />
    <!-- IP address of the computer running the application -->
    <add key="LocalIpAddress" value="" />
    <!-- port of the computer running the application -->
    <add key="ListenerPort" value="23" />
    <!-- add date to the file output-->
    <add key="AddDateToOutput" value="false" />
    <!-- add reader id & antenna id to the file output -->
    <add key="AddReaderInfoToOutput" value="false" />
    <!-- play sound for each record read -->
    <add key="PlaySoundForRead" value="false"/>
    <!-- path to the file playing for each record read -->
    <add key="ReadSoundFilePath" value="Resources\01.wav"/>
    <!-- play sound when filtered record read-->
    <add key="PlaySoundForFilteredRead" value="true"/>
    <!-- path to the file playing when filtered record read-->
    <add key="FilteredReadSoundFilePath" value="Resources\02.wav"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>